.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  display: block;
  clear: none;
}

.processimg {
  max-width: 100%;
  min-width: auto;
  margin-left: 0px;
max-height: 500px;
}

.headline {
  margin-top: 23px;
  margin-bottom: 26px;
  margin-left: 61px;
  border-top: 10px none #a5ecec;
  background-color: transparent;
}

.grid {
  margin-right: 40px;
  margin-left: 61px;
  grid-auto-flow: row;
  grid-column-gap: 20px;
  grid-template-areas: "Area";
  -ms-grid-columns: 2.75fr 20px 1fr;
  grid-template-columns: 3.75fr 2fr;
  -ms-grid-rows: auto minmax(auto, 1fr);
  grid-template-rows: auto minmax(auto, 1fr);
}

.image {
  max-height: none;
  -o-object-fit: contain;
  object-fit: contain;
}

.section {
  max-height: 600px;
  margin-bottom: -19px;
}

.paragraph {
  margin-left: 0px;
}

.text-block {
  margin-top: 369px;
  margin-right: 49px;
  margin-left: 61px;
}
.processimg {
  max-width: 100%;
  margin-left: 0px;
}

@media screen and (max-width: 991px) {
  .processimg {
    max-width: 100%;
    margin-left: 0px;
  }

  .headline {
    margin-left: 20px;
  }

  .grid {
    margin-right: 20px;
    margin-left: 20px;
    -ms-grid-columns: 2.75fr;
    grid-template-columns: 2.75fr;
  }
}

@media screen and (max-width: 479px) {
  .headline {
    margin-left: 10px;
  }

  .grid {
    margin-right: 10px;
    margin-left: 10px;
    grid-auto-rows: 0px;
  }
}